useDynLib("hermiter", .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
importFrom(stats,quantile)
importFrom(stats,density)
importFrom(stats,median)
importFrom("grDevices", "hcl.colors")
importFrom("graphics", "abline", "filled.contour", "plot.default")
importFrom("methods", "is")
S3method(merge_hermite,list)
S3method(merge_pair,hermite_estimator_univar)
S3method(cum_prob,hermite_estimator_univar)
S3method(hcdf,hermite_estimator_univar)
S3method(dens,hermite_estimator_univar)
S3method(density,hermite_estimator_univar)
S3method(quant,hermite_estimator_univar)
S3method(quantile,hermite_estimator_univar)
S3method(median,hermite_estimator_univar)
S3method(IQR,hermite_estimator_univar)
S3method(IQR,default)
S3method(quant,hermite_estimator_bivar)
S3method(calculate_running_std,hermite_estimator_univar)
S3method(calculate_running_std,hermite_estimator_bivar)
S3method(update_sequential,hermite_estimator_univar)
S3method(spearmans,hermite_estimator_bivar)
S3method(kendall,hermite_estimator_bivar)
S3method(spearmans,hermite_estimator_univar)
S3method(kendall,hermite_estimator_univar)
S3method(cum_prob,hermite_estimator_bivar)
S3method(hcdf,hermite_estimator_bivar)
S3method(dens,hermite_estimator_bivar)
S3method(density,hermite_estimator_bivar)
S3method(update_sequential,hermite_estimator_bivar)
S3method(merge_pair,hermite_estimator_bivar)
S3method(summary,hermite_estimator_univar)
S3method(print,hermite_estimator_univar)
S3method(summary,hermite_estimator_bivar)
S3method(print,hermite_estimator_bivar)
S3method(print,hcdf_univar)
S3method(plot,hcdf_univar)
S3method(summary,hcdf_univar)
S3method(print,hcdf_bivar)
S3method(plot,hcdf_bivar)
S3method(summary,hcdf_bivar)
S3method(print,hdensity_univar)
S3method(plot,hdensity_univar)
S3method(print,hdensity_bivar)
S3method(plot,hdensity_bivar)
export(hermite_estimator)
export(update_sequential)
export(merge_hermite)
export(merge_pair)
export(cum_prob)
export(hcdf)
export(dens)
export(quant)
export(spearmans)
export(kendall)
export(cor)
export(hermite_normalization_N)
export(hermite_function_N)
export(hermite_function_sum_N)
export(hermite_polynomial_N)
export(hermite_int_lower)
export(hermite_int_upper)
export(hermite_int_full)
export(IQR)