useDynLib("hermiter", .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("methods", "is")
S3method(merge_hermite,list)
S3method(merge_pair,hermite_estimator_univar)
S3method(cum_prob,hermite_estimator_univar)
S3method(dens,hermite_estimator_univar)
S3method(quant,hermite_estimator_univar)
S3method(quant,hermite_estimator_bivar)
S3method(calculate_running_std,hermite_estimator_univar)
S3method(calculate_running_std,hermite_estimator_bivar)
S3method(update_batch,hermite_estimator_univar)
S3method(update_sequential,hermite_estimator_univar)
S3method(spearmans,hermite_estimator_bivar)
S3method(kendall,hermite_estimator_bivar)
S3method(spearmans,hermite_estimator_univar)
S3method(kendall,hermite_estimator_univar)
S3method(cum_prob,hermite_estimator_bivar)
S3method(dens,hermite_estimator_bivar)
S3method(update_batch,hermite_estimator_bivar)
S3method(update_sequential,hermite_estimator_bivar)
S3method(merge_pair,hermite_estimator_bivar)
export(merge_hermite)
export(merge_hermite_univar)
export(merge_hermite_bivar)
export(merge_pair)
export(cum_prob)
export(dens)
export(spearmans)
export(kendall)
export(hermite_estimator)
export(hermite_estimator_univar)
export(hermite_estimator_bivar)
export(hermite_polynomial)
export(hermite_function)
export(hermite_function_sum)
export(hermite_integral_val)
export(hermite_integral_val_upper)
export(hermite_normalization)
export(hermite_normalization_N)
export(quant)
export(standardizeInputs)
export(standardizeInputsEW)
export(update_batch)
export(update_sequential)
export(hermite_function_N)
export(hermite_function_sum_N)
export(hermite_polynomial_N)
export(hermite_int_lower)
export(hermite_int_upper)
export(hermite_int_full_domain)
export(hermite_int_full)
export(gauss_hermite_quad_100)