useDynLib("hermiter", .registration=TRUE)
importFrom(Rcpp, evalCpp)
S3method(combine_hermite,list)
S3method(combine_pair,hermite_estimator)
S3method(cum_prob,hermite_estimator)
S3method(cum_prob_quantile_helper,hermite_estimator)
S3method(dens,hermite_estimator)
S3method(quant,hermite_estimator)
S3method(quantile_helper,hermite_estimator)
S3method(standardize_value,hermite_estimator)
S3method(update_batch,hermite_estimator)
S3method(update_sequential,hermite_estimator)
export(combine_hermite)
export(combine_pair)
export(cum_prob)
export(cum_prob_quantile_helper)
export(dens)
export(hermite_estimator)
export(hermite_function)
export(hermite_integral_val)
export(hermite_integral_val_quantile_adap)
export(hermite_normalization)
export(quant)
export(quantile_helper)
export(standardizeInputs)
export(standardizeInputsEW)
export(standardize_value)
export(update_batch)
export(update_sequential)
